/* Add here all your css styles (customizations) */

#top{
    height: 90vh;
    background-color: #a5a5a5;
}

#navbar{
    width: 100%;
    z-index: 100;
    background-color: #fff;
}
#messenger{
    position: fixed;
    bottom: 0px;
    right: 10px;
    height: 30px
    z-index:100;
}

/*
#messenger.selected {
    background-color:#1F75CC;
    color:white;
}
*/

.buttons {
  margin-top: 30px;
}
 .buttons .button {
/*  margin: 25px auto;*/
  -webkit-transition: width .3s;
  transition: width .3s;
  overflow: hidden;
  cursor: pointer;
}
 .buttons .button-fb {
  background-color: #305097;
  color: #ffe;
  width: 50px;
  height: 50px;
  border-radius: 25px;
/*  margin-bottom: 25px;*/
  text-align: center;
  font-size: 130%;
  line-height: 50px;
  box-shadow: rgba(16, 25, 36, 0.65098) 3px 3px 8px 0px;
  -webkit-box-shadow: rgba(16, 25, 36, 0.65098) 3px 3px 8px 0px;
  -moz-box-shadow: rgba(16, 25, 36, 0.65098) 3px 3px 8px 0px;
}
.buttons .button-fb:hover{
    background-color: #3861bc;
}
.buttons.selected .button-fb {
  width: 150px;
}
.buttons.selected .button-fb i:after {
  margin-left: 10px;
  content: "message";
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

#messenger_pop {
    background-color:#FFFFFF;
    border:1px solid #999999;
    cursor:default;
    display:none;
    margin-top: 15px;
    position:fixed;
    width:394px;
    z-index:50;
    padding: 25px 25px 20px;
    bottom: 50px;
    right: 10px;
}

